<a href="https://colab.research.google.com/github/ultimatexlerion/Semana04-05/blob/main/Respuestas_Taller_S5_A_Explorador_IA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Funciones
def suma(a,b):
  return a+b

In [ ]:
a=suma(2,3)
print(a)
b=suma(4,5)
print(b)
c=suma(a,b)
print(c)

5
9
14

In [ ]:
# Crear la secuencia original
tupla_original = ('1c', '2c', '3c', '5c', '6c', '7c', '1p', '2p', '3p', '1t', '2t', '3t')

# Crear un objeto slice para obtener los primeros 4 elementos
mi_slice = slice(0, 4)

# Aplicar el slice a la tupla
subtupla = tupla_original[mi_slice]
print(subtupla)

('1c', '2c', '3c', '5c')

In [ ]:
import math

In [ ]:
precio1=10
precio2=30

preciototal=math.factorial(10)
print(preciototal)
valorpi=math.pi
print(valorpi)
print(math.sin(180))

3628800
3.141592653589793
-0.8011526357338304

In [ ]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
a.insert(3,"texto")
print(a)

[1, 2, 3, 'texto', 4, 5]

#Listas y Tuplas

## Listas

Una lista generalmente tiene datos homogeneos

En este ejemplo, todos los elementos de la lista numeros son números enteros. Una lista con datos homogéneos significa que todos los elementos de la lista son del mismo tipo de datos, en este caso, enteros. Esto es una característica común de las listas en Python, pero no es una restricción absoluta, ya que Python también permite listas que contienen diferentes tipos de datos. Sin embargo, es más común y recomendable que una lista contenga datos del mismo tipo para facilitar su manipulación y procesamiento.

In [ ]:
numeros = [1, 2, 3, 4, 5]

In [ ]:
Lista = ['Python','es']
'-'.join(Lista)

'Python-es'

Tambien puede tener datos heterogeneos, como texto y numeros

En esta lista, tenemos una combinación de cadenas de texto ("Hola" y "Mundo"), un número entero (42) y un número decimal (3.14). Python permite esta flexibilidad en las listas, lo que significa que puedes almacenar una variedad de tipos de datos en una sola lista según tus necesidades. Sin embargo, es importante recordar que, aunque Python permite esta flexibilidad, es posible que desees mantener la coherencia en el tipo de datos de tus listas dependiendo de cómo planeas utilizarlas en tu programa.

In [ ]:
datos = ["Hola", 42, "Mundo", 3.14]

El primer elemento siempre es indice 0, y de ahi vas contando

In [ ]:
lista = ["a", "b", "c", "d", "e"]

# Accediendo al primer elemento (índice 0)
primer_elemento = lista[0]
print("Primer elemento:", primer_elemento)

# Accediendo al segundo elemento (índice 1)
segundo_elemento = lista[1]
print("Segundo elemento:", segundo_elemento)

# Accediendo al tercer elemento (índice 2)
tercer_elemento = lista[2]
print("Tercer elemento:", tercer_elemento)

# Accediendo al cuarto elemento (índice 3)
cuarto_elemento = lista[3]
print("Cuarto elemento:", cuarto_elemento)

# Accediendo al quinto elemento (índice 4)
quinto_elemento = lista[4]
print("Quinto elemento:", quinto_elemento)

Usa len para conocer el numero de elementos en nuestra lista

In [ ]:
lista = ["a", "b", "c", "d", "e"]

# Usamos la función len() para obtener el número de elementos en la lista
numero_de_elementos = len(lista)
print("Número de elementos en la lista:", numero_de_elementos)

Los indices siempre deben de ser enteros - y también se vale que sean expresiones

In [ ]:
# Definimos una lista
lista = ["a", "b", "c", "d", "e"]

# Usamos una expresión para calcular el índice
indice = 2 + 1

# Accedemos al elemento usando el índice calculado dinámicamente
elemento = lista[indice]

# Imprimimos el elemento
print("Elemento en el índice", indice, ":", elemento)

Puedes cambiar elementos en particular

In [ ]:
# Definimos una lista
lista = ["a", "b", "c", "d", "e"]

# Cambiamos el elemento en el índice 2 (tercer elemento) por "x"
lista[2] = "x"

# Imprimimos la lista actualizada
print("Lista después de cambiar el elemento en el índice 2:", lista)

¿Que pasa si llamamos un indice fuera de la lista?

In [ ]:
#Acá va el ejemplo

Cada elemento puede usarse como una variable

In [ ]:
# Definimos una lista con tres elementos
lista = ["a", "b", "c"]

# Desempaquetamos los elementos de la lista en variables individuales
variable1, variable2, variable3 = lista

# Imprimimos las variables
print("Variable 1:", variable1)
print("Variable 2:", variable2)
print("Variable 3:", variable3)

Vamos agregando elementos a una lista vacía

In [ ]:
# Definimos una lista con tres elementos
datos = ["Juan", 25, "Ingeniero"]

# Desempaquetamos los elementos de la lista en variables individuales
nombre, edad, profesion = datos

# Imprimimos la información
print("Nombre:", nombre)
print("Edad:", edad)
print("Profesión:", profesion)

Y es totalmente viable concatenar 2 listas

In [ ]:
# Definimos dos listas
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]

# Concatenamos las dos listas usando el operador +
concatenacion1 = lista1 + lista2

# Concatenamos las dos listas usando el método extend()
lista1.extend(lista2)
concatenacion2 = lista1

# Imprimimos los resultados
print("Concatenación usando el operador +:", concatenacion1)
print("Concatenación usando el método extend():", concatenacion2)

#### Por tu cuenta

Arma un programa que eleve al cuadrado dotos los elementos de una lista. Prueba con una lista con todos los numeros pares del 2 al 20.

In [ ]:
#Acá va la solución

## Tuplas

In [ ]:
def verificar_poker(mano):
    # Extraer los elementos en posicionesPares
    posiciones_impares = mano[::2]#Se salta de 2 en 2
    # Verificar si todos los elementos en posiciones impares son iguales

 #Cuando utilizas set() en un iterable,
 #se eliminan todos los elementos duplicados y se devuelven los elementos únicos.
 # Esto es útil cuando deseas saber si hay duplicados en una colección o cuando solo
 # necesitas los elementos únicos.

    if len(set(posiciones_impares)) == 1:
        return "Es poker"
    else:
        return "No es poker"


import random
# Paso 1: Crear la baraja de póker completa
numero = ('2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A')
tipo = ('c', 'p', 't', 'd')
mano=[]

for i in range(4):
  mano.append(random.choice(numero))
  mano.append(random.choice(tipo))
print(mano)
resultado = verificar_poker(mano)
print(resultado)

['2', 'd', '5', 'd', '6', 'c', '7', 't']
No es poker

In [ ]:
# Seleccionar cartas para la mano
mano = random.sample(baraja, 4)  # Seleccionar 4 cartas al azar de la baraja
print(mano)

# Verificar si la primera posición de cada cadena de texto en posiciones pares es igual
def verificar_poker_en_pares(lista_cartas):
    # Extraer los números/letras de las cartas en posiciones pares (0, 2, 4, etc.)
    primeras_letras = [carta[0] for carta in lista_cartas[::2]]

    # Verificar si todas las primeras letras son iguales
    if len(set(primeras_letras)) == 1:
        return "Es poker"
    else:
        return "No es poker"

resultado = verificar_poker_en_pares(mano)
print(resultado)

['4c', 'Jd', '3t', '2d']
No es poker


https://openstax.org/books/c%C3%A1lculo-volumen-3/pages/2-3-el-producto-escalar

In [ ]:
import math
import numpy as np

def producto_escalar(vector1, vector2):
    # Verificar si los dos vectores tienen el mismo tamaño
    if len(vector1) != len(vector2):
        raise ValueError("Los vectores deben tener el mismo tamaño.")

    # Calcular el producto escalar
    producto = sum(a * b for a, b in zip(vector1, vector2))
    return producto

#Escribir una función que reciba dos vectores y devuelva su producto escalar.

def pedir_vectores(tam,nombre):
    vector=[]
    for i in range(tam):
        valor = float(input(f"Ingrese el valor para la posición {i+1}:del vector{nombre} "))
        vector.append(valor)
    return(vector)

#Recibir Vectores por Input
tamV1=int(input("Ingrese el tamaño de los vectores: "))
vector1=pedir_vectores(tamV1,"1")
print(vector1)
vector2=pedir_vectores(tamV1,"2")
print(vector2)


# Calcular el producto escalar y el ángulo entre los vectores
resultado_producto = producto_escalar(vector1, vector2)
print("Producto escalar:", resultado_producto)

#Escribir una función que reciba dos vectores y devuelva si son o no ortogonales.
Verificar=resultado_producto==0
if Verificar:
  print("Son ortogonales")
else:
  print("No son ortogonales")
7
#Escribir una función que reciba dos vectores y devuelva su ángulo entre ellos.
#Escribir una función que reciba dos vectores y devuelva su ángulo entre ellos.
angulo_radianes = math.acos(resultado_producto / (np.linalg.norm(vector1) * np.linalg.norm(vector2))) # Use NumPy's norm function
angulo_grados = math.degrees(angulo_radianes)
print("Ángulo entre los vectores:", angulo_grados, "grados")

#Escribir una función que reciba dos vectores y devuelva si son paralelos o no.
#puedes utilizar el hecho de que dos vectores son paralelos si uno es un múltiplo escalar del otro.
#En otras palabras, si puedes multiplicar todos los elementos de un vector por un mismo número
# y obtener el otro vector, entonces los vectores son paralelos.

vector1=np.array(vector1)
vector2=np.array(vector2)

#Producto cruzado
producto_cruzado=np.cross(vector1,vector2)
print(producto_cruzado)

return

Ingrese el tamaño de los vectores: 3
Ingrese el valor para la posición 1:del vector1 1
Ingrese el valor para la posición 2:del vector1 2
Ingrese el valor para la posición 3:del vector1 3
[1.0, 2.0, 3.0]
Ingrese el valor para la posición 1:del vector2 5
Ingrese el valor para la posición 2:del vector2 6
Ingrese el valor para la posición 3:del vector2 7
[5.0, 6.0, 7.0]
Producto escalar: 38.0
No son ortogonales
Ángulo entre los vectores: 14.458287920298085 grados

Vamos comenzando con una tupla vacia

In [ ]:
# Creamos una tupla vacía
mi_tupla = ()

# Verificamos su tipo y longitud
print("Tipo de mi_tupla:", type(mi_tupla))
print("Longitud de mi_tupla:", len(mi_tupla))

Ahora vamos a añadir 3 elementos a la tupla

In [ ]:
# Creamos una tupla vacía
mi_tupla = ()

# Añadimos elementos a la tupla
mi_tupla = mi_tupla + (1, 2, 3)

# Verificamos la tupla actualizada
print("Tupla actualizada:", mi_tupla)

In [ ]:
new_tupla=(1,3,[3,2],"a")
print(new_tupla)
print(new_tupla*2)

(1, 3, [3, 2], 'a')
(1, 3, [3, 2], 'a', 1, 3, [3, 2], 'a')

In [ ]:
new_tupla[0]=5
print(new_tupla)

[5, 3, [3, 2], 'a']

En este ejemplo, primero creamos una tupla vacía mi_tupla. Luego, añadimos tres elementos a la tupla utilizando el operador de concatenación +. Esto crea una nueva tupla que contiene los elementos originales de mi_tupla más los nuevos elementos (1, 2, 3)

Puedes llamar a los elementos individuales, arma un print que nos diga en que año nació Patricia (tiene 23 años al 2021)

In [ ]:
# Definimos la información de Patricia
patricia_info = (2021, 23)

# Calculamos el año de nacimiento de Patricia
ano_nacimiento = patricia_info[0] - patricia_info[1]

# Imprimimos el resultado
print("Patricia nació en el año:", ano_nacimiento)

Es posible acceder a cualquier secuencia de elementos, asignando cada elemnto de la secuencia con una variable separada por comas

In [ ]:
# Definimos una lista con tres elementos
mi_lista = [10, 20, 30]

# Desempaquetamos los elementos de la lista en variables individuales
x, y, z = mi_lista

# Imprimimos los valores de las variables
print("Valor de x:", x)
print("Valor de y:", y)
print("Valor de z:", z)

Si en la tupla solo hay caracteres, vamos a armar un print que nos de cada letra por separado

In [ ]:
# Definimos una tupla con cadenas de texto
mi_tupla = ("Hola", "Mundo")

# Iteramos sobre la tupla
for elemento in mi_tupla:
    # Iteramos sobre cada caracter de cada elemento de la tupla
    for letra in elemento:
        # Imprimimos cada letra
        print(letra)

Y si son valores...

In [ ]:
# Definimos una tupla con valores numéricos
mi_tupla = (10, 20, 30)

# Iteramos sobre la tupla
for valor in mi_tupla:
    # Imprimimos cada valor
    print(valor)

También se puede acceder un valor al indexarlo - vamos  arecibir una lista con 3 estudiantes y convertirlo en una tupla enumerada

In [ ]:
# Definimos una lista de estudiantes
lista_estudiantes = ["Juan", "María", "Pedro"]

# Convertimos la lista en una tupla enumerada
tupla_enumerada = tuple(enumerate(lista_estudiantes))

# Imprimimos la tupla enumerada
print("Tupla enumerada:", tupla_enumerada)

#### Por tu cuenta

Crea una tupla de un solo elemento con el número 582.4 y luego muestrala

In [ ]:
#Acá va la solución

#### Por tu cuenta

Muestra que pasa si intentas concatenar una lista de 3 enteros con una tupla de 3 enteros usando +

In [ ]:
#Acá va la solución

## Separando Secuencias

Crea una secuencia con todas las potencias de 2 - del 2 al 256

In [ ]:
# Inicializamos una lista vacía para almacenar las potencias de 2
potencias_de_dos = []

# Iteramos sobre el rango de números del 1 al 256 (inclusive)
for exponente in range(1, 9):
    # Calculamos la potencia de 2 para el exponente actual
    potencia = 2 ** exponente
    # Agregamos la potencia de 2 a la lista
    potencias_de_dos.append(potencia)

# Imprimimos la lista de potencias de 2
print("Potencias de 2 del 2 al 256:", potencias_de_dos)

Selecciona el 16 y 32

In [ ]:
# Potencias de 2 del 2 al 256
potencias_de_dos = [2, 4, 8, 16, 32, 64, 128, 256]

# Seleccionar el elemento correspondiente a la potencia de 2 de 16 (índice 3) y 32 (índice 4)
potencia_16 = potencias_de_dos[3]
potencia_32 = potencias_de_dos[4]

# Imprimir las potencias de 16 y 32
print("Potencia de 16:", potencia_16)
print("Potencia de 32:", potencia_32)

Ahora selecciona los primeros 5 elementos

In [ ]:
# Potencias de 2 del 2 al 256
potencias_de_dos = [2, 4, 8, 16, 32, 64, 128, 256]

# Seleccionar los primeros 5 elementos
primeros_cinco_elementos = potencias_de_dos[:5]

# Imprimir los primeros 5 elementos
print("Primeros 5 elementos:", primeros_cinco_elementos)

Ahora vamos a seleccionar todos desde el 16 en adelante

In [ ]:
# Potencias de 2 del 2 al 256
potencias_de_dos = [2, 4, 8, 16, 32, 64, 128, 256]

# Seleccionar todos los elementos desde el 16 en adelante
desde_16_en_adelante = potencias_de_dos[3:]

# Imprimir los elementos desde el 16 en adelante
print("Elementos desde el 16 en adelante:", desde_16_en_adelante)

También podemos seleccionar elementos de 2 en 2 o de 3 en 3 o asi, deja :: y luego va el stepfunction

In [ ]:
# Potencias de 2 del 2 al 256
potencias_de_dos = [2, 4, 8, 16, 32, 64, 128, 256]

# Seleccionar elementos de 2 en 2
de_dos_en_dos = potencias_de_dos[::2]

# Seleccionar elementos de 3 en 3
de_tres_en_tres = potencias_de_dos[::3]

# Imprimir los resultados
print("Elementos de 2 en 2:", de_dos_en_dos)
print("Elementos de 3 en 3:", de_tres_en_tres)

Y si vamos de -3 en -3 significa que empieza desde el final

In [ ]:
# Potencias de 2 del 2 al 256
potencias_de_dos = [2, 4, 8, 16, 32, 64, 128, 256]

# Seleccionar elementos de -3 en -3
de_menos_tres_en_menos_tres = potencias_de_dos[::-3]

# Imprimir el resultado
print("Elementos de -3 en -3:", de_menos_tres_en_menos_tres)

Ahora modifica los nombres de los primeros 3 elementos, - en vez de numero que sea su nombre en letra

In [ ]:
# Potencias de 2 del 2 al 256
potencias_de_dos = [2, 4, 8, 16, 32, 64, 128, 256]

# Nombres de los primeros 3 elementos
nombres = ["Dos", "Cuatro", "Ocho"]

# Modificar los nombres de los primeros 3 elementos
potencias_de_dos[:3] = nombres

# Imprimir la lista modificada
print("Potencias de 2 con nombres de los primeros 3 elementos:", potencias_de_dos)

#### Por tu cuenta

Crea una lista llamada números que contenga los valores del 1 al 15, haz las siguientes operaciones
-selecciona los numeros enteros
-reemplaza los elementos en indices 5 al 9 por 0s
-manten solo los primeros 5 elementos, y muestra la lista resultante
-Borra todos los elementos que quedan

In [ ]:
#Acá va la solución

###Del

Ahora arma uan lista con todos los multiples de 10 del 0 al 90

In [ ]:
# Creamos una lista vacía para almacenar los múltiplos de 10
multiplos_de_10 = []

# Generamos los múltiplos de 10 del 0 al 90
for numero in range(0, 91, 10):
    multiplos_de_10.append(numero)

# Imprimimos la lista de múltiplos de 10
print("Múltiplos de 10 del 0 al 90:", multiplos_de_10)

Borra del 30 al 50

In [ ]:
# Borramos los elementos del 30 al 50 de la lista de múltiplos de 10
del multiplos_de_10[3:6]

# Imprimimos la lista actualizada
print("Lista de múltiplos de 10 después de borrar del 30 al 50:", multiplos_de_10)

A continuación, rearma la lista y borra cada segundo elemento

In [ ]:
# Rearmamos la lista de múltiplos de 10
multiplos_de_10 = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

# Borramos cada segundo elemento
del multiplos_de_10[1::2]

# Imprimimos la lista actualizada
print("Lista de múltiplos de 10 después de borrar cada segundo elemento:", multiplos_de_10)

Y por último, borra la lista completa

In [ ]:
# Borramos la lista completa de múltiplos de 10
del multiplos_de_10

# Intentamos imprimir la lista (esto debería resultar en un error ya que la lista ha sido eliminada)
print(multiplos_de_10)

#### Por tu cuenta

Crea una lista con los numeros del 1 al 15
- borra una parte que contenga los primeros 4 elementos, muestra tu resultado
- Empezando con el primer elemento, borra cada 2do elemento de la lista.

In [ ]:
#Acá va la solución

##Listas Ordenadas

Vamos  armar la lista

edad = [65,26,28,36,18]

In [ ]:
edad = [65, 26, 28, 36, 18]

Ahora vamos a ordenarla usando sort()

In [ ]:
edad = [65, 26, 28, 36, 18]

# Ordenamos la lista en su lugar
edad.sort()

print("Lista ordenada:", edad)

Ahora vamos aordenarla usando sort(reverse=true)

In [ ]:
edad = [65, 26, 28, 36, 18]

# Ordenamos la lista en su lugar en orden descendente
edad.sort(reverse=True)

print("Lista ordenada en orden descendente:", edad)

También se puede usar la función sorted, que es una función que devuelve otra lista

In [ ]:
edad = [65, 26, 28, 36, 18]

# Ordenamos la lista y almacenamos el resultado en una nueva lista
edad_ordenada_descendente = sorted(edad, reverse=True)

print("Lista original:", edad)
print("Lista ordenada en orden descendente:", edad_ordenada_descendente)

Se pueden ordenar cadenas de caracters

In [ ]:
#Ordenar una cadena como lista de caracteres
cadena = "python"
cadena_ordenada = ''.join(sorted(cadena))
print("Cadena ordenada:", cadena_ordenada)

In [ ]:
#Ordenar una cadena utilizando el método sort()
cadena = "python"
lista_caracteres = list(cadena)
lista_caracteres.sort()
cadena_ordenada = ''.join(lista_caracteres)
print("Cadena ordenada:", cadena_ordenada)

Y también las tuplas, pero solo usando sorted

In [ ]:
tupla = (4, 1, 3, 2, 5)

# Ordenamos la tupla y almacenamos el resultado en una nueva lista
tupla_ordenada = tuple(sorted(tupla))

print("Tupla original:", tupla)
print("Tupla ordenada:", tupla_ordenada)

### Buscando Secuencias

Ahora arma la lista

edad = [65,12,19,80,36,28,16,18,36,16,45,32,36,59]

In [ ]:
edad = [65, 12, 19, 80, 36, 28, 16, 18, 36, 16, 45, 32, 36, 59]

Y busca en ella la edad 45 usando el método index()

In [ ]:
edad = [65, 12, 19, 80, 36, 28, 16, 18, 36, 16, 45, 32, 36, 59]

# Buscar la edad 45 en la lista
indice = edad.index(45)

print("La edad 45 se encuentra en el índice:", indice)

Si buscas algo que no esta, como 43, el resultado es...

In [ ]:
edad = [65, 12, 19, 80, 36, 28, 16, 18, 36, 16, 45, 32, 36, 59]

# Intentar buscar la edad 43 en la lista
try:
    indice = edad.index(43)
    print("La edad 43 se encuentra en el índice:", indice)
except ValueError:
    print("La edad 43 no está presente en la lista.")

Tambien puedes usar el comando in, checa si 56 está in edad

In [ ]:
edad = [65, 12, 19, 80, 36, 28, 16, 18, 36, 16, 45, 32, 36, 59]

# Verificar si 56 está en la lista
if 56 in edad:
    print("Sí, 56 está presente en la lista.")
else:
    print("No, 56 no está presente en la lista.")

###Otros Métodos de Lista

vegetales = ['espinaca','apio']

In [ ]:
vegetales = ['espinaca', 'apio']

Usa el método insert() para meter 'lechuga' en la posición 0

In [ ]:
vegetales = ['espinaca', 'apio']

# Insertar 'lechuga' en la posición 0
vegetales.insert(0, 'lechuga')

print("Lista de vegetales después de insertar 'lechuga':", vegetales)

Usa el método append() para meter 'esparragos' al final

In [ ]:
vegetales = ['lechuga', 'espinaca', 'apio']

# Agregar 'esparragos' al final de la lista
vegetales.append('esparragos')

print("Lista de vegetales después de agregar 'esparragos':", vegetales)

Agrega el precio usando el comando extend

Precio = (10,15,8,30)

In [ ]:
vegetales = ['lechuga', 'espinaca', 'apio']
Precio = (10, 15, 8, 30)

# Convertir la tupla Precio en una lista y agregarla al final de la lista vegetales
vegetales.extend(list(Precio))

print("Lista de vegetales después de agregar los precios:", vegetales)

Quitale los esparragos a la ensalada usando remove()

In [ ]:
vegetales = ['lechuga', 'espinaca', 'apio', 'esparragos']

# Eliminar 'esparragos' de la lista
vegetales.remove('esparragos')

print("Lista de vegetales después de quitar 'esparragos':", vegetales)

Tira la ensalada y ve por un platillo de hombre usando vegetales.clear()

In [ ]:
vegetales = ['lechuga', 'espinaca', 'apio', 'esparragos']

# Limpiar la lista de vegetales
vegetales.clear()

print("La ensalada ha sido eliminada. Ahora la lista de vegetales está vacía:", vegetales)

###Contar

Arma una lista de edades

 edades = [15, 21, 16, 19, 20, 16, 19, 15, 21, 17, 18, 24, 20, 24, 21, 19, 18, 16, 19, 16]

In [ ]:
edades = [15, 21, 16, 19, 20, 16, 19, 15, 21, 17, 18, 24, 20, 24, 21, 19, 18, 16, 19, 16]

Usa count para saber cuantas vecs aparece la edad 16

In [ ]:
edades = [15, 21, 16, 19, 20, 16, 19, 15, 21, 17, 18, 24, 20, 24, 21, 19, 18, 16, 19, 16]

# Contar cuántas veces aparece la edad 16
veces_16 = edades.count(16)

print("La edad 16 aparece", veces_16, "veces en la lista.")

Arma un for para contar cuantas veces se repite cada edad entre 15 a 25 en la lista

imprime tus resultados con la frase
La edad 15 se repite 2 veces
y asi...

In [ ]:
edades = [15, 21, 16, 19, 20, 16, 19, 15, 21, 17, 18, 24, 20, 24, 21, 19, 18, 16, 19, 16]

# Inicializar un diccionario para almacenar el recuento de cada edad
recuento_edades = {}

# Contar cuántas veces se repite cada edad entre 15 y 25
for edad in range(15, 26):
    veces = edades.count(edad)
    recuento_edades[edad] = veces

# Imprimir los resultados
for edad, veces in recuento_edades.items():
    print(f"La edad {edad} se repite {veces} veces.")

Arma tu ensalada de nuevo

 vegetales = ['lechuga','espinaca','apio','pepinillo']

In [ ]:
vegetales = ['lechuga', 'espinaca', 'apio', 'pepinillo']

Usa reverse para darle la vuelta

In [ ]:
vegetales = ['lechuga', 'espinaca', 'apio', 'pepinillo']

# Invertir el orden de los elementos en la lista
vegetales.reverse()

print("Lista de vegetales después de invertir el orden:", vegetales)

Prepara una seguna ensalada usando copy

In [ ]:
# Copiar la lista de vegetales para la segunda ensalada
segunda_ensalada = vegetales.copy()

# Agregar ingredientes adicionales a la segunda ensalada
segunda_ensalada.append('tomate')
segunda_ensalada.append('zanahoria')

print("Segunda ensalada:", segunda_ensalada)

##Comprensión de Listas

Vamos a armar una lista con todos los numeros del 1 al 10. Empeiza con lista vacia, y luego un for que haga un append de todos los numeros del 1 al 10

In [ ]:
# Crear una lista vacía para almacenar los números del 1 al 10
numeros = []

# Agregar números del 1 al 10 a la lista utilizando un bucle for
for i in range(1, 11):
    numeros.append(i)

print("Lista de números del 1 al 10:", numeros)

Ahora hacemos lo mismo con la comprensión de listas

In [ ]:
# Utilizar comprensión de listas para crear la lista de números del 1 al 10
numeros = [i for i in range(1, 11)]

print("Lista de números del 1 al 10:", numeros)

Tambien de plano podemos reemplazar todo eso por range

In [ ]:
# Generar una secuencia de números del 1 al 10 usando range() y convertirla en una lista
numeros = list(range(1, 11))

print("Lista de números del 1 al 10:", numeros)

Ahora vamos a mapear - hacer calculos dentro de la comprension de listas, en este caso todos los cuadrados del 1 al 10

In [ ]:
# Utilizar comprensión de listas junto con la función map para calcular los cuadrados del 1 al 10
cuadrados = [x ** 2 for x in range(1, 11)]

print("Cuadrados del 1 al 10:", cuadrados)

Ahora vamos a generar una comprensión de lista con filtro - todos los cuadrados del 1 al 10 siempre y cuando sean menores a 50

In [ ]:
# Utilizar comprensión de listas con filtro para calcular los cuadrados del 1 al 10 menores a 50
cuadrados_menores_a_50 = [x ** 2 for x in range(1, 11) if x ** 2 < 50]

print("Cuadrados del 1 al 10 menores a 50:", cuadrados_menores_a_50)

Que tal que queremos una comprension de lista d etodos los cuadrados pares del 1 al 10?

In [ ]:
# Utilizar comprensión de listas para obtener los cuadrados de los números pares del 1 al 10
cuadrados_pares = [x ** 2 for x in range(1, 11) if x % 2 == 0]

print("Cuadrados de los números pares del 1 al 10:", cuadrados_pares)

Vuelve a armar tu ensalada

 vegetales = ['apio','brocoli','lechuga']

In [ ]:
vegetales = ['apio', 'brócoli', 'lechuga']

Arma una comprensión de lista que cambie todos estos a mayusculas

In [ ]:
vegetales = ['apio', 'brócoli', 'lechuga']

vegetales_mayusculas = [vegetal.upper() for vegetal in vegetales]

print("Lista de vegetales en mayúsculas:", vegetales_mayusculas)

#### Por tu cuenta

Arma una comprensión de lista que te devuelva tuplas de todos los numeros del 1 al 6 y sus cubos

In [ ]:
#Acá va la solución

#### Por tu cuenta

Arma una comprensión de lista que te devuelva todos los mutliples de 3 menores a 60

In [ ]:
#Acá va la solución

###Generador de Expresiones

Arma esta lista

lista = [-3,5,8,4,1,-6,7,10]

In [ ]:
lista = [-3, 5, 8, 4, 1, -6, 7, 10]

Arma un for que te muestre los cuadrados pares de esta lista

In [ ]:
lista = [-3, 5, 8, 4, 1, -6, 7, 10]

# Iterar sobre los elementos de la lista
for num in lista:
    # Verificar si el número es par
    if num % 2 == 0:
        # Calcular el cuadrado del número par y mostrarlo
        cuadrado = num ** 2
        print(f"El cuadrado de {num} es {cuadrado}")

`Ahora revisa como podemos hacer lo mismo con el generador de expresiones`

In [ ]:
lista = [-3, 5, 8, 4, 1, -6, 7, 10]

# Generador de expresiones para calcular los cuadrados de los números pares
cuadrados_pares = (num ** 2 for num in lista if num % 2 == 0)

# Iterar sobre los cuadrados pares y mostrarlos
for cuadrado in cuadrados_pares:
    print(cuadrado)

Y para ver los resultados usa list()

In [ ]:
lista = [-3, 5, 8, 4, 1, -6, 7, 10]

# Generador de expresiones para calcular los cuadrados de los números pares
cuadrados_pares = (num ** 2 for num in lista if num % 2 == 0)

# Convertir el generador de expresiones en una lista y mostrar los resultados
resultados = list(cuadrados_pares)
print("Cuadrados de los números pares:", resultados)

#### Por tu cuenta

Crea una expresion generadora que eleve al cubo los enteros pares en uan lista que contiene 10,3,7,1,9,4

In [ ]:
#Acá va la solución

###Filtrar, mapear y reducir

Primero vamos a definir una funcion que compruebe si un numero es par

usaremos la lista lista=[-3,5,8,4,1,-6,7,10]

In [ ]:
lista = [-3, 5, 8, 4, 1, -6, 7, 10]

Ahoa vamos a filtrar la lista usando esta nueva función

In [ ]:
lista = [-3, 5, 8, 4, 1, -6, 7, 10]

# Función para verificar si un número es par
def es_par(numero):
    return numero % 2 == 0

# Filtrar los números pares de la lista
numeros_pares = filter(es_par, lista)

# Convertir el resultado en una lista y mostrarlo
numeros_pares_lista = list(numeros_pares)
print("Números pares:", numeros_pares_lista)

Podemos usar la comprensión de listas y nuestra nueva función para armar una lista

In [ ]:
lista = [-3, 5, 8, 4, 1, -6, 7, 10]

# Función para verificar si un número es par
def es_par(numero):
    return numero % 2 == 0

# Utilizar comprensión de listas para filtrar los números pares de la lista
numeros_pares = [num for num in lista if es_par(num)]

print("Números pares:", numeros_pares)

Cuando la funcion es tan sencilla, es mejor usar un lambda que andarla definiendo, como en este caso que hacemos lo mismo pero con lambda

In [ ]:
lista = [-3, 5, 8, 4, 1, -6, 7, 10]

# Utilizar una expresión lambda para verificar si un número es par
numeros_pares = filter(lambda x: x % 2 == 0, lista)

print("Números pares:", list(numeros_pares))

Vamos a usar lambda y map para mostrar una comprensión de lista que eleva todo al cubo, la lsita a usar sera

[-3, 5, 8, 4, 1, -6, 7, 10]

In [ ]:
lista = [-3, 5, 8, 4, 1, -6, 7, 10]

# Utilizar una expresión lambda con map para elevar todos los elementos al cubo
cubos = map(lambda x: x ** 3, lista)

# Convertir el resultado en una lista y mostrarlo
resultado = list(cubos)
print("Lista elevada al cubo:", resultado)

#### Por tu cuenta

Crea una lista con numeros del 1 al 15 y luego
- crea una nueva lista de los elementos impares
- crea una nueva lista usando map y lambda para elevar al cuadrado a todos
- filtra los elementos impares y luego mapealos a sus cuadrados

In [ ]:
#Acá va la solución